/* styles come here */
.container {
	text-align: center;
}

.gameBoard {
	margin-right: auto;
	margin-left: auto;
	width: 630px;
}

.bar { 
	height: 240px;
	width: 40px;
	background-color: brown;
	float: left;
 }

 .room {
 	height: 240px;
	width: 40px;
	background-color: gray;
	border: solid black 1px;
	float: left;
 }

 .hoverd {
 	background: black;
 }

 .checker {
 	height: 38px;
 	width: 38px;
 	border-radius: 50%;
 	background: blue;
 }

 .break {
 	clear: both;
 }